.Header {
  padding: calc(var(--base-size) * 2);
  margin-bottom: calc(var(--base-size) * 2);
  text-align: center;
  background-color: var(--color-highlight);
  color: var(--color-highlight-foreground);
}

.Header H1 {
  font-size: 1.5rem;
}
