.ModalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  position: relative;
  min-height: 400px;
  min-width: 300px;
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-alt);
  box-shadow: var(--base-size) var(--base-size) calc(var(--base-size) * 8) 0px
    rgb(194 214 201);
}

.ModalHeader {
  min-height: var(--base-block-size);
  padding: var(--base-size) calc(var(--base-size) * 8) var(--base-size)
    var(--base-size);
  background-color: var(--color-highlight);
  color: var(--color-highlight-foreground);
}

.ModalContent {
  height: 78%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: var(--base-size);
  color: var(--color-alt-foreground);
}

.CloseButton {
  position: absolute;
  right: 0;
  margin: var(--base-size);
}
